/* 
This is default and very simple styles file for Yasb. 
For more information about configuration options, please visit the Wiki https://github.com/amnweb/yasb/wiki
*/
:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #282936;
  --base: #1e1e2e;
  --mantle: rgba(24, 24, 37, 0.5);
  --crust: rgba(17, 17, 27, 0.85);
  --main: #10151d;
}
/* Global styles for ToolTip */
QToolTip {
  padding: 6px;
  color: #cdd6f4;
  font-size: 12px;
  background-color: #1e1e2e;
  border: 0px solid #313244;
  border-radius: 6px;
}
* {
  font-size: 12px;
  color: var(--subtext0);
  font-weight: 600;
  font-family: "JetBrainsMono NFP";
  margin: 0;
  padding: 0;
}
.yasb-bar {
  padding: 0;
  margin: 0;
  background-color: var(--crust);
  border-radius: 8px;
}
.widget {
  padding: 0 12px;
  margin: 0;
}
.icon {
  font-size: 16px;
}
.widget .label {
  padding: 0px 2px;
}

.komorebi-active-layout {
  padding: 0 4px 0 0;
}
.komorebi-active-layout .label {
  font-weight: 600;
  padding: 2px 0 0 0;
}
.apps-widget .widget-container,
.komorebi-workspaces {
  margin: 0;
  padding: 0;
}
.komorebi-workspaces .offline-status {
  color: #627199;
  font-size: 12px;
  padding: 0 4px;
  font-weight: 600;
}
.komorebi-workspaces .ws-btn {
  border: none;
  background-color: #b8c0e0;
  margin: 0 2px;
  font-size: 12px;
  color: #3a3e4d;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
.komorebi-workspaces .ws-btn:hover {
  background-color: #a5adcb;
}
.komorebi-workspaces .ws-btn.populated {
  background-color: #a5adcb;
}
.komorebi-workspaces .ws-btn.active {
  color: #181926;
  background-color: #8087a2;
  width: 48px;
}

.apps-widget {
  padding: 0 4px 0 2px;
}
.apps-widget .label {
  font-size: 14px;
  padding: 0 2px;
  color: var(--subtext0);
}
.apps-widget .label:hover {
  color: var(--text);
}

.power-menu-widget .label {
  color: #f38ba8;
  font-size: 13px;
}
.power-menu-popup {
  background-color: transparent;
}
.power-menu-popup .button {
  padding: 0;
  width: 180px;
  height: 230px;
  border-radius: 8px;
  background-color: var(--crust);
  color: var(--text);
  border-left: 4px solid rgba(58, 59, 83, 0);
  border-right: 4px solid rgba(58, 59, 83, 0);
  border-top: 4px solid rgba(58, 59, 83, 0);
  border-bottom: 4px solid rgba(58, 59, 83, 0);
  margin: 0px;
}
.power-menu-popup .button.hover {
  background-color: var(--base);
  border-left: 4px solid var(--base);
  border-right: 4px solid var(--base);
  border-top: 4px solid var(--base);
  border-bottom: 4px solid var(--base);
}

.power-menu-popup .button .label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  color: var(--overlay2);
}
.power-menu-popup .button .icon {
  font-size: 64px;
  padding-top: 32px;
  color: var(--surface2);
}

.power-menu-popup .button.cancel .icon {
  padding: 0;
  margin: 0;
}
.power-menu-popup .button.cancel .label {
  color: var(--red);
  margin: 0;
}
.power-menu-popup .button.cancel {
  height: 32px;
  border-radius: 4px;
}
.uptime {
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--surface2);
  font-weight: 600;
}
.microphone-widget {
  padding: 0 6px 0 6px;
}
.microphone-widget .icon {
  font-size: 18px;
}
.microphone-widget .icon {
  color: var(--mauve);
}
.volume-widget .icon {
  color: var(--blue);
  margin: 1px 2px 0 0;
}
/* .weather-widget, */
.volume-widget {
  padding: 0 6px;
}

.weather-widget {
}
.weather-widget .widget-container {
}
.weather-widget .label {
}
.weather-widget .label.alt {
}
.weather-widget .icon {
}
.weather-widget .icon.cloudyDay {
}
.weather-widget .icon.cloudyNight {
}
.weather-widget .icon.rainyDay {
}
.weather-widget .icon.rainyNight {
}
.weather-widget .icon.snowyIcyDay {
}
.weather-widget .icon.snowyIcyNight {
}
.weather-widget .icon.blizzard {
}
.weather-widget .icon.default {
}

/* Weather card style */
.weather-card {
  background-color: rgba(17, 17, 27, 0.5);
}
.weather-card-today {
  border: 1px solid #282936;
  border-radius: 8px;
  background-color: rgba(17, 17, 27, 0.2);
}
.weather-card-today .label {
  font-size: 12px;
}
.weather-card-today .label.location {
  font-size: 24px;
  font-weight: 700;
}
.weather-card-today .label.arert {
  font-size: 12px;
  font-weight: 700;
  background-color: rgba(247, 199, 42, 0.05);
  border: 1px solid rgba(247, 209, 42, 0.1);
  color: rgba(196, 181, 162, 0.85);
  border-radius: 6px;
  padding: 5px 0;
}
.weather-card-day {
  border: 1px solid #45475a;
  border-radius: 8px;
  background-color: rgba(17, 17, 27, 0.2);
}
.weather-card-day .label {
  font-size: 12px;
}

/* .weather-widget .icon { */
/*   font-size: 18px; */
/*   margin: 0 2px 1px 0; */
/*   color: var(--yellow); */
/* } */
.media-menu {
  min-width: 440px;
  max-width: 440px;
  background-color: rgba(31, 39, 49, 0.5);
}
.media-menu .title,
.media-menu .artist,
.media-menu .source {
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
  font-family: "Segoe UI";
}
.media-menu .artist {
  font-size: 13px;
  color: #6c7086;
  margin-top: 0px;
}
.media-menu .source {
  font-size: 11px;
  color: #000;
  border-radius: 3px;
  background-color: #bac2de;
  padding: 2px 4px;
  font-weight: 600;
  font-family: "Segoe UI";
  margin-top: 10px;
}
/* The source class name is the same as what you see in the media widget; just replace spaces with dashes and convert it to lowercase. 
Example: "Windows Media" becomes "windows-media" */
.media-menu .source.aimp {
  background-color: #6f42c1;
  color: #ffffff;
}
.media-menu .source.apple-music {
  background-color: #fa2b56;
  color: #ffffff;
}
.media-menu .source.brave {
  background-color: #fb542b;
  color: #ffffff;
}
.media-menu .source.chrome {
  background-color: #4285f4;
  color: #ffffff;
}
.media-menu .source.edge {
  background-color: #0078d4;
  color: #ffffff;
}
.media-menu .source.firefox {
  background-color: #ff7139;
  color: #ffffff;
}
.media-menu .source.foobar2000 {
  background-color: #444444;
  color: #ffffff;
}
.media-menu .source.media-player {
  background-color: #0078d4;
  color: #ffffff;
}
.media-menu .source.murglar {
  background-color: #8a8a8a;
  color: #ffffff;
}
.media-menu .source.musicbee {
  background-color: #ffcc00;
  color: #000000;
}
.media-menu .source.nsmusics {
  background-color: #e64a19;
  color: #ffffff;
}
.media-menu .source.opera {
  background-color: #ff1b2d;
  color: #ffffff;
}
.media-menu .source.qobuz {
  background-color: #003a6f;
  color: #ffffff;
}
.media-menu .source.spotify {
  background-color: #1db954;
  color: #ffffff;
}
.media-menu .source.tidal {
  background-color: #000000;
  color: #ffffff;
}
.media-menu .source.winamp {
  background-color: #f1a11b;
  color: #000000;
}
.media-menu .source.youtube {
  background-color: #ff0000;
  color: #ffffff;
}
.media-menu .source.youtube-music {
  background-color: #c51f1f;
  color: #ffffff;
}
.media-menu .source.zen {
  background-color: #2ecc71;
  color: #000000;
}
.media-menu .btn {
  font-family: "Segoe Fluent Icons";
  font-size: 14px;
  font-weight: 400;
  margin: 10px 2px 0px 2px;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 20px;
}
.media-menu .btn.prev {
  margin-left: 10px;
}
.media-menu .btn:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}
.media-menu .btn.play {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 20px;
}
.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
  color: #4e525c;
  background-color: rgba(0, 0, 0, 0);
}

.media-menu .playback-time {
  font-size: 13px;
  font-family: "Segoe UI";
  color: #7f849c;
  margin-top: 20px;
  min-width: 100px;
}
.media-menu .progress-slider {
  height: 10px;
  margin: 5px 4px;
  border-radius: 3px;
}
.media-menu .progress-slider::groove {
  background: transparent;
  height: 2px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.1);
}
.media-menu .progress-slider::groove:hover {
  background: transparent;
  height: 6px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.2);
}
.media-menu .progress-slider::sub-page {
  background: white;
  border-radius: 3px;
  height: 4px;
}

.media-menu .app-volume-container {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 8px 6px;
  border-radius: 16px;
  margin-left: 10px;
}
.media-menu .app-volume-container .volume-slider::groove {
  background: rgba(255, 255, 255, 0.1);
  width: 2px;
  border-radius: 3px;
}
.media-menu .app-volume-container .volume-slider::add-page {
  background: white;
  border-radius: 3px;
}
.media-menu .app-volume-container .volume-slider::groove:hover {
  background: rgba(255, 255, 255, 0.1);
  width: 6px;
  border-radius: 3px;
}
.media-menu .app-volume-container .volume-slider::sub-page {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}
.media-menu .app-volume-container .mute-button,
.media-menu .app-volume-container .unmute-button {
  font-size: 16px;
  color: #ffffff;
  font-family: "Segoe Fluent Icons";
  margin-top: 4px;
}
.media-menu .app-volume-container .unmute-button {
  color: #a0a0a0;
}

.taskbar-widget .app-container {
  margin: 4px 2px;
  border-radius: 4px;
  padding: 0 4px;
}
.taskbar-widget .app-container.foreground {
  background-color: rgba(255, 255, 255, 0.1);
}
.taskbar-widget .app-container.flashing {
  background-color: rgba(255, 106, 106, 0.63);
}
.taskbar-widget .app-container .app-title {
  padding-left: 4px;
}

.home-widget {
  padding: 0 4px 0 12px;
}
.home-widget .icon {
  color: var(--lavender);
}
.home-widget .icon:hover {
  color: var(--text);
}
.home-menu {
  background-color: var(--crust);
}
.home-menu .menu-item {
  padding: 8px 48px 9px 16px;
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text);
  font-weight: 600;
}
.home-menu .menu-item:hover {
  background-color: rgba(128, 130, 158, 0.15);
  color: #fff;
}
.home-menu:separator {
  height: 1px;
  background-color: rgba(128, 130, 158, 0.3);
}

.calendar {
  background-color: rgba(17, 17, 27, 0.4);
}
.calendar .calendar-table,
.calendar .calendar-table::item {
  background-color: rgba(17, 17, 27, 0);
  color: rgba(162, 177, 196, 0.85);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
.calendar .calendar-table::item:selected {
  color: rgb(255, 255, 255);
}
.calendar .day-label {
  margin-top: 20px;
}
.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  min-width: 180px;
  max-width: 180px;
}
.calendar .month-label {
  font-weight: normal;
}
.calendar .date-label {
  font-size: 88px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  margin-top: -20px;
}

.disk-widget {
  padding: 0 6px 0 6px;
}
.disk-group {
  background-color: rgba(17, 17, 27, 0.4);
}
.disk-group-row {
  min-width: 220px;
  max-width: 220px;
  max-height: 40px;
  margin: 0;
  padding: 0;
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0);
}
.disk-group-row:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.disk-group-label-bar {
  max-height: 8px;
  border: 0px solid rgba(128, 128, 128, 0);
  background-color: rgba(137, 180, 250, 0.1);
  border-radius: 4px;
}
.disk-group-label-bar::chunk {
  background-color: rgba(61, 135, 255, 0.3);
  border-radius: 4px;
}
.disk-group-label {
  font-size: 10px;
}
.disk-group-label-size {
  font-size: 10px;
  color: #666879;
}

.glazewm-binding-mode {
  background-color: var(--crust);
  margin: 4px 0;
  border-radius: 12px;
  border: 0;
}

.glazewm-binding-mode .label {
  color: var(--text);
  font-size: 12px;
}

.glazewm-binding-mode .label-offline {
  color: var(--subtext0);
  font-size: 10px;
}

.glazewm-binding-mode .icon.none {
  color: var(--blue);
}

.glazewm-binding-mode .icon.resize {
  color: var(--yellow);
}

.glazewm-binding-mode .icon.pause {
  color: var(--red);
}

.glazewm-workspaces {
  margin: 0;
}

.glazewm-workspaces .ws-btn {
  font-size: 14px;
  background-color: transparent;
  border: none;
  padding: 0px 4px 0px 4px;
  margin: 0 2px 0 2px;
  color: #cdd6f4;
}

.glazewm-workspaces .ws-btn.active_populated {
  color: #c2daf7;
  background-color: #727272;
}
.glazewm-workspaces .ws-btn.active_empty {
  color: #7d8b9d;
  background-color: #727272;
}

.glazewm-workspaces .ws-btn.populated {
  color: #c2daf7;
}

.glazewm-workspaces .ws-btn.empty {
  color: #7d8b9d;
}

.glazewm-workspaces .ws-btn:hover,
.glazewm-workspaces .ws-btn.populated:hover,
.glazewm-workspaces .ws-btn.empty:hover {
  background-color: #727272;
}

.glazewm-tiling-direction {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.glazewm-tiling-direction .btn {
  font-size: 18px;
  width: 14px;
  padding: 0 4px 0 4px;
  color: #cdd6f4;
  border: none;
}

.glazewm-tiling-direction .btn:hover {
  background-color: #727272;
}

.systray {
  background: transparent;
  border: None;
  margin: 0;
}

.systray .unpinned-container {
  border-radius: 8px;
}

.systray .pinned-container {
  background: transparent;
}

.systray .pinned-container[forceshow="true"] {
  background: red;
}

.systray .button {
  border-radius: 4px;
  padding: 2px 2px;
}

.systray .button:hover {
  background: #727272;
}

.systray .button[dragging="true"] {
  background: orange;
  border-color: #ff8800;
}

.systray .unpinned-visibility-btn {
  border-radius: 4px;
  height: 20px;
  width: 16px;
}

.systray .unpinned-visibility-btn:checked {
}

.systray .unpinned-visibility-btn:hover {
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  border-color: #aaaaaa;
}

.github-menu {
  background-color: rgba(17, 17, 27, 0.2);
  max-height: 500px;
  min-height: 500px;
  min-width: 420px;
}
.github-menu .header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 15px;
  font-weight: 400;
  font-family: "Segoe UI";
  padding: 8px;
  color: white;
  background-color: rgba(17, 17, 27, 0.75);
}
.github-menu .footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 4px 8px 6px 8px;
  background-color: rgba(17, 17, 27, 0.75);
}
.github-menu .footer .label {
  font-size: 12px;
  font-family: "Segoe UI";
  color: #9399b2;
}
.github-menu .contents {
  background-color: rgba(17, 17, 27, 0.2);
}
.github-menu .contents .item {
  min-height: 40px;
  padding: 6px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.075);
}
.github-menu .contents .item:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.github-menu .contents .item .title,
.github-menu .contents .item .description {
  color: #9399b2;
  font-family: Segoe UI;
}
.github-menu .contents .item .title {
  font-size: 14px;
  font-weight: 600;
}
.github-menu .contents .item .description {
  font-size: 12px;
  font-weight: 500;
}
.github-menu .contents .item.new .title,
.github-menu .contents .item.new .description {
  color: #ffffff;
}
.github-menu .contents .item .icon {
  font-size: 16px;
  padding-right: 0;
  padding-left: 8px;
  padding-right: 4px;
  color: #9399b2;
}
.github-menu .contents .item.new .icon {
  color: #3fb950;
}

.gpu-widget {
}
.gpu-widget.your_class {
} /* If you are using class_name option */
.gpu-widget .widget-container {
}
.gpu-widget .widget-container .label {
}
.gpu-widget .widget-container .label.alt {
}
.gpu-widget .widget-container .icon {
}
.gpu-widget .label.status-low {
}
.gpu-widget .label.status-medium {
}
.gpu-widget .label.status-high {
}
.gpu-widget .label.status-critical {
}
/* GPU progress bar styles if enabled */
.gpu-widget .progress-circle {
}
