# Include specific configurations based on the remote URL
[includeIf "hasconfig:remote.origin.url=git@bitbucket.org:"]
    path = {{ .chezmoi.homeDir }}/.gitconfig-work

[includeIf "hasconfig:remote.origin.url=git@github.com:"]
    path = {{ .chezmoi.homeDir }}/.gitconfig-personal


[init]
	defaultBranch = main

