# config.nu
# Minimal Nushell configuration.

$env.config.show_banner = false
$env.PROMPT_COMMAND_RIGHT = ""
$env.PROMPT_COMMAND = { || starship prompt }
$env.PROMPT_INDICATOR = ""
$env.PROMPT_INDICATOR_VI_NORMAL = ""
$env.PROMPT_INDICATOR_VI_INSERT = ""

# Aliases
alias ll     = eza -lh
alias la     = eza -lha
alias lt     = eza --tree
alias cat    = bat
alias n      = nvim
alias lg     = lazygit
alias y      = yazi
alias ":q"   = exit
alias e      = exit
alias c      = clear
alias su     = scoop update
alias ss     = scoop status
alias sua    = scoop update --all
alias cedit  = chezmoi edit
alias cdiff  = chezmoi diff
alias cstatus = chezmoi status
alias capply = chezmoi apply --interactive -v
alias ccd    = chezmoi cd

# zoxide
source ~/.config/nushell/zoxide.nu

# carapace
$env.CARAPACE_BRIDGES = 'zsh,fish,bash,inshellisense'
source ~/.config/nushell/carapace.nu
$env.config.completions.algorithm = "prefix"
$env.config.completions.external.max_results = 100

# PATH
let h = $env.USERPROFILE

# Prepended (high priority)
$env.path = (
    [
        ($h | path join "scoop" "shims")
    ]
    | append $env.path
)

# Appended
$env.path ++= [
    ($h | path join ".cargo" "bin"),
    ($h | path join ".local" "bin"),
    'C:\Program Files\ImageMagick-7.1.2-Q16-HDRI',
    ($h | path join "AppData" "Local" "pnpm"),
    ($h | path join "go" "bin"),
]
