# config.nu
# Minimal Nushell configuration.

$env.config.show_banner = false
$env.PROMPT_COMMAND_RIGHT = ""
$env.PROMPT_COMMAND = { || starship prompt }
$env.PROMPT_INDICATOR = ""
$env.PROMPT_INDICATOR_VI_NORMAL = ""
$env.PROMPT_INDICATOR_VI_INSERT = ""
