{
  "ShowSendToMenu": true,
  "ShowOpenInNewWindow": true,
  "AppThemeSidebarBackgroundColor": "#16161E",
  "ShowGitLastCommitDateColumn": false,
  "ShowOpenInNewPane": true,
  "DateTimeFormat": 0,
  "NameColumnWidth": 240,
  "ShowStatusBar": true,
  "AppThemeBackgroundImageHorizontalAlignment": 1,
  "GitStatusColumnWidth": 80,
  "AppThemeBackgroundColor": "#1A1B26",
  "IsDriveSectionExpanded": true,
  "SelectFilesOnHover": false,
  "GitCommitAuthorColumnWidth": 140,
  "AppThemeFontFamily": "Atkinson Hyperlegible Next",
  "AppThemeToolbarBackgroundColor": "#1A1B26",
  "ScrollToPreviousFolderWhenNavigatingUp": true,
  "IsWslSectionExpanded": false,
  "StatusCenterVisibility": 0,
  "ShowCreateFolderWithSelection": true,
  "HasClickedReviewPrompt": false,
  "DetailsViewSize": 2,
  "ShowCopyPath": true,
  "ShowNetworkLocationsWidget": true,
  "DoubleClickToGoUp": true,
  "NetworkLocationsWidgetExpanded": false,
  "EnableThumbnailCache": true,
  "OpenFoldersInColumnsViewWithSingleClick": 3,
  "DefaultSortDirectoriesAlongsideFiles": false,
  "OpenFilesWithSingleClick": 1,
  "ShowQuickAccessWidget": true,
  "IsPinnedSectionExpanded": true,
  "ShowDateColumn": true,
  "ShowCreateShortcut": true,
  "IsSidebarOpen": true,
  "GridViewSize": 8,
  "RestoreTabsOnStartup": false,
  "AppThemeAddressBarBackgroundColor": "#1A1B26",
  "AppThemeBackgroundImageFit": 3,
  "ShowPinnedSection": true,
  "ShowGitLastCommitShaColumn": false,
  "IsInfoPaneEnabled": false,
  "ShowFileExtensionWarning": false,
  "DefaultDirectorySortDirection": 0,
  "ShowGitLastCommitMessageColumn": false,
  "AppThemeInfoPaneBackgroundColor": "",
  "AlwaysOpenDualPaneInNewTab": false,
  "ShowSyncStatusColumn": true,
  "DefaultLayoutMode": 5,
  "GitLastCommitMessageColumnWidth": 140,
  "ContinueLastSessionOnStartUp": true,
  "TypeColumnWidth": 140,
  "IDEPath": "",
  "ShowStatusCenterTeachingTip": false,
  "ShowCheckboxesWhenSelectingItems": true,
  "ShowGitStatusColumn": false,
  "ShowOpenInNewTab": true,
  "ShowDrivesSection": true,
  "ShowSizeColumn": true,
  "ShowFileExtensions": true,
  "SyncStatusColumnWidth": 50,
  "OpenFoldersWithSingleClick": 1,
  "MoveShellExtensionsToSubMenu": true,
  "EnableSmoothScrolling": true,
  "ShowSystemTrayIcon": true,
  "SidebarWidth": 255,
  "ShowTypeColumn": true,
  "GitLastCommitDateColumnWidth": 140,
  "IsNetworkSectionExpanded": false,
  "DateModifiedColumnWidth": 200,
  "ShowOpenTerminal": true,
  "ShowProtectedSystemFiles": false,
  "LastKnownToolbarDefaults": {
    "AlwaysVisible": [
      "NewItem",
      "Separator",
      "CutItem",
      "CopyItem",
      "PasteItem",
      "Rename",
      "ShareItem",
      "DeleteItem",
      "OpenProperties"
    ],
    "ArchiveFiles": [
      "Extract"
    ],
    "BatchFiles": [
      "EditInNotepad"
    ],
    "PowerShellFiles": [
      "RunWithPowershell"
    ],
    "ImageFiles": [
      "SetAs",
      "RotateLeft",
      "RotateRight"
    ],
    "MediaFiles": [
      "PlayAll"
    ],
    "FontFiles": [
      "InstallFont"
    ],
    "DriverFiles": [
      "InstallInfDriver"
    ],
    "CertificateFiles": [
      "InstallCertificate"
    ],
    "RecycleBin": [
      "EmptyRecycleBin",
      "RestoreAllRecycleBin",
      "RestoreRecycleBin"
    ],
    "OtherContexts": []
  },
  "ShowThumbnails": true,
  "ShowGitCommitAuthorColumn": false,
  "IDEName": "",
  "ListViewSize": 2,
  "OpenSpecificPageOnStartup": false,
  "ShowHiddenItems": true,
  "ShowFileTagsWidget": false,
  "ShowDateDeletedColumn": true,
  "AreAlternateStreamsVisible": false,
  "CardsViewSize": 1,
  "LeaveAppRunning": true,
  "ShowShelfPane": false,
  "ShowTabActions": true,
  "ConflictsResolveOption": 0,
  "ShowDotFiles": true,
  "AppThemeFileAreaSecondaryBackgroundColor": "",
  "RecentFilesWidgetExpanded": true,
  "ShowRecentFilesWidget": true,
  "ShowDateCreatedColumn": true,
  "OpenNewTabOnStartup": false,
  "ShowFileTagColumn": true,
  "DateCreatedColumnWidth": 200,
  "ShowPathColumn": true,
  "ShowPinToSideBar": true,
  "ShowBackgroundRunningNotification": false,
  "DeleteConfirmationPolicy": 0,
  "DrivesWidgetExpanded": true,
  "SizeColumnWidth": 100,
  "TabsOnStartupList": null,
  "ShowFileTagsSection": true,
  "OpenFoldersInNewTab": false,
  "AppThemeBackgroundImageSource": "",
  "ShowNetworkSection": true,
  "OpenInIDEOption": 0,
  "SyncFolderPreferencesAcrossDirectories": false,
  "IsFileTagsSectionExpanded": false,
  "AppThemeBackdropMaterial": 0,
  "CalculateFolderSizes": false,
  "DefaultSortOption": 0,
  "ColumnsViewSize": 2,
  "ShowOriginalPathColumn": true,
  "ShowPinToStart": true,
  "ShowCloudDrivesSection": true,
  "ShowWslSection": true,
  "CustomToolbarItems": null,
  "SizeUnitFormat": 0,
  "ShowLibrarySection": false,
  "PathColumnWidth": 200,
  "ThumbnailCacheSizeLimit": 512,
  "ShowCreateAlternateDataStream": false,
  "DateDeletedColumnWidth": 200,
  "DefaultGroupByDateUnit": 0,
  "FoldersWidgetExpanded": true,
  "GitLastCommitShaColumnWidth": 80,
  "AlwaysSwitchToNewlyOpenedTab": false,
  "DefaultGroupOption": 0,
  "OriginalPathColumnWidth": 200,
  "HasClickedSponsorPrompt": false,
  "AppThemeInfoBackgroundColor": "#16161E",
  "ShowFilterHeader": false,
  "ActionsV2": null,
  "IsCloudDriveSectionExpanded": true,
  "ShowShelfPaneToggleButton": false,
  "ShowCompressionOptions": true,
  "ShowEditTagsMenu": true,
  "LastSessionTabList": [
    "{\u0022InitialPageType\u0022:\u0022Files.App.Views.ShellPanesPage\u0022,\u0022NavigationParameter\u0022:{\u0022LeftPaneNavPathParam\u0022:\u0022Settings\u0022,\u0022LeftPaneSelectItemParam\u0022:null,\u0022RightPaneNavPathParam\u0022:null,\u0022RightPaneSelectItemParam\u0022:null,\u0022ShellPaneArrangement\u0022:2}}",
    "{\u0022InitialPageType\u0022:\u0022Files.App.Views.ShellPanesPage\u0022,\u0022NavigationParameter\u0022:{\u0022LeftPaneNavPathParam\u0022:\u0022C:\\\\Users\\\\{{ .chezmoi.homeDir | replace "C:/Users/" "" }}\\\\Downloads\u0022,\u0022LeftPaneSelectItemParam\u0022:null,\u0022RightPaneNavPathParam\u0022:null,\u0022RightPaneSelectItemParam\u0022:null,\u0022ShellPaneArrangement\u0022:2}}"
  ],
  "DefaultSortFilesFirst": false,
  "PathHistoryList": [
    "Home"
  ],
  "DefaultDirectoryGroupDirection": 0,
  "ShowFlattenOptions": false,
  "AppThemeFileAreaBackgroundColor": "#1A1B26",
  "TagColumnWidth": 140,
  "AppThemeMode": "Default",
  "AppThemeBackgroundImageOpacity": 1,
  "ShellPaneArrangementOption": 2,
  "ShowToolbar": true,
  "AppThemeBackgroundImageVerticalAlignment": 1,
  "ShowDrivesWidget": true,
  "OpenTabInExistingInstance": true,
  "AppThemeBackgroundColor": "#1A1B26",
  "AppThemeAddressBarBackgroundColor": "#1A1B26",
  "AppThemeToolbarBackgroundColor": "#1A1B26",
  "AppThemeSidebarBackgroundColor": "#16161E",
  "AppThemeFileAreaBackgroundColor": "#1A1B26",
  "AppThemeInfoBackgroundColor": "#16161E"
}